<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">
        //浮点数float
        console.log(15.36);     //15.36
        console.log(3.1415926);//3.1415926
        console.log(0.773);     //0.773
        console.log(.773);  //0.773
        console.log(19.0);  //19

        //最大数和最小数
        console.log(Number.MAX_VALUE);//1.7976931348623157e+308
        console.log(Number.MIN_VALUE);//5e-324

        //科学计数法
        //1.7976931348623157e+308 === 1.79*10的308次方
        //5e-324 === 5*10的负324次方  === 0.000...(中间一共323个0)...0005
        console.log(42791.53621e+7);  //42791.53621*10的7次方 = 427915362100
        console.log(42791.53621e-7);  //42791.53621*10的负7次方 = 0.004279153621

        </script>

        <style type="text/css">
        </style>
    </head>
    <body>
        <h2></h2>
    </body>
</html>