<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">
        //逻辑运算符最终结果
        var name = "jack";
        var age = 20;
        var score = 90;
        var school = "itcast";
        var is_money = 0;
        var is_married = false;

        //逻辑运算要求两边的操作数最好是boolean布尔类型
        //如果为非布尔类型，要进行自动类型转换
        //0 "" null [] 等等都会转换为false，其他实体信息转换为true
        //1) &&和|| 运算符最终结果为一个操作数
        console.log(name && age);  //20     age变量影响最终结果
        console.log(age && name);  //jack   name变量影响最终结果

        console.log(is_money && age); //0  
        console.log(school || is_money);//itcast

        console.log(age>18 && score>85); //true

        //2) ! 取反运算符最终结果为boolean布尔值
        console.log(!name);//false
        console.log(!is_money);//true
        </script>

        <style type="text/css">
        </style>
    </head>
    <body>
        <h2></h2>
    </body>
</html>