<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">
        //数组长度length
        var city = new Array('beijing','shanghai','guangzhou');
        city[3] = "shenyang";
        city[20] = "changchun";
        city['hebei'] = "shijiazhuang";
        //length属性在数组里边是获得数组元素“最大数字下标”加1的信息
        //如果需要获得正确的数组长度，则数组下标必须为0/1/2/3...规则连续的
        console.log(city.length);//21
        
        </script>

        <style type="text/css">
        </style>
    </head>
    <body>
        <h2></h2>
    </body>
</html>