<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">
        var age = 23;
        var name = "tom";

        var $$$ = "abc";
        var 省会 = "济南";
        alert($$$);
        alert(省会);
        </script>

        <style type="text/css">
        </style>
        
    </head>
    <body>
        <h2></h2>
    </body>
</html>