<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">
        //输出语句：alert()  document.write()
        //console.log()  是浏览器调试工具(例如火狐的firebug)的输出语句
        //               该输出语句会输出变量的"详细"信息

        console.log(typeof 10);         //number
        console.log(typeof 10.24);      //number
        console.log(typeof 'beijing');  //string
        console.log(typeof true);       //boolean
        console.log(typeof false);      //boolean
        console.log(typeof True);       //undefined
        console.log(typeof null);       //object
        console.log(typeof document);   //object
        console.log(typeof false);
        </script>

        <style type="text/css">
        </style>
    </head>
    <body>
        <h2></h2>
    </body>
</html>