<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">
        //① 十进制
        console.log(97); //97
        console.log(105);//105

        //② 八进制数
        //各种进制数变为十进制数：
	    //    各个位数数字 * 进制数的(位数-1)次方 的算数和
        console.log(036); //3*8+6 = 30
        console.log(065); //6*8+5 = 53
        console.log(0372); //3*8*8+7*8+2 = 250
        console.log(07125); //7*8*8*8 + 1*8*8 + 2*8 +5*1 = 3669
        console.log(063541); //6*8*8*8*8 + 3*8*8*8 + 5*8*8 + 4*8 +1*1 = 26465
        console.log(029);   // 29  恢复为十进制的 
        console.log(0384);   // 384  恢复为十进制的 

        //③ 十六进制数
        //十六进制数：10:A   11:B   12:C  13:D  14:E   15:F
        console.log(0x6C); //6*16+12 = 108
        console.log(0xCDE); //12*16*16 + 13*16 + 14 = 3294
        console.log(0x5197); //5*16*16*16 + 1*16*16 + 9*16 + 7*1 =20887 

        </script>

        <style type="text/css">
        </style>
    </head>
    <body>
        <h2></h2>
    </body>
</html>