<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">
        //switch 条件判断表达式用法

        var age = 23;
        switch(true){
            case age>0 && age<=10:
                console.log('儿童');
                break;
            case age>10 && age<=20:
                console.log('青少年');
                break;
            case age>20 && age<=30:
                console.log('青年');
                break;
            case age>30 && age<=70:
                console.log('壮年');
                break;
            default:
                console.log('中老年');
                break;
        }
        

        </script>

        <style type="text/css">
        </style>
    </head>
    <body>
        <h2></h2>
    </body>
</html>