<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>新建网页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <script type="text/javascript">
        //声明函数

        //② 变量赋值方式
        //   函数在javascript语言里边看就是“对象”，因此可以通过变量赋值方式声明。
        //   该方式没有“预加载”(因为变量必须先声明、后使用)
        var getWeather = function(){
            console.log('sunshine');
        }
        getWeather();//sunshine

        </script>
        

        <style type="text/css">
        </style>
    </head>
    <body>
        <h2></h2>
    </body>
</html>